#outer {
  margin: auto;
  padding-top: 50px;
  padding-left: 60px;
  background-color: lightblue;
}
#inner {
  background-color: white;
  margin: auto;
}

.label {
  width: 200px;
  display: inline-block;
}
#eventTitle {
  width: 44%;
  clear: both;
}
.sectionOne input {
  width: 20%;
  clear: both;
}
.sectionOne label {
  width: 120px;
  display: inline-block;
}
.buttons {
  padding-left: 250px;
}

h2 {
  font-family: "Arial";
}
